@import url('https://fonts.googleapis.com/css?family=ABeeZee');
body {
  margin: 0;
  height: 100vh;
  font-family: 'ABeeZee', sans-serif !important;
}

.grid-class {
  display: grid;
  grid-template-columns: 160px auto;
}
